<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Racing Games bHaptics</title>
        <link rel="stylesheet" href="style.css">
        <script src="./renderer.js"></script>
    </head>
    <body id="body">        
        <div class="drag-window"></div>
        <div class="header">
            <div class="header-title">
            <p class="tit">Racing Games bHaptics</p>
            <p class="ver">Version <span id="appversion"></span></p>
            </div>
            
            <div class="btnFoot outline" id="back">
            <a >Back</a>
            </div>
        </div>
        <div class="main" id="main">
            <img id="game-img" src="../../img/acc.jpg" />
            <div id="instructions">
                <p>
                    No configuration is needed for Assetto Corsa Competizione.
                </p>
                <p>
                    Just select Assetto Corsa Competizione and start the application.
                </p>
            </div>
        </div>
    </body>
</html>

<!-- 685px 910px -->