<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Racing Games bHaptics</title>
        <link rel="stylesheet" href="style.css">
        <script src="./renderer.js"></script>
    </head>
    <body id="body">        
        <div class="drag-window"></div>
        <div class="header">
            <div class="header-title">
            <p class="tit">Racing Games bHaptics</p>
            <p class="ver">Version <span id="appversion"></span></p>
            </div>
            
            <div class="btnFoot outline" id="back">
            <a >Back</a>
            </div>
        </div>
        <div class="main" id="main">
            <img id="game-img" src="../../img/pc1.jpg" />
            <div id="instructions">
                <p>
                    Open the options
                </p>
                <img class="game-img" src="../../img/options.jpg" />
                <p>
                    Open the submenu gameplay
                </p>
                <img class="game-img2" src="../../img/options_gameplay.jpg" />
                <p>
                    Enable UDP Telemetry
                </p>
                <p style="font-size: 16px !important;">
                    Set the Option UDP to 1. The number specifies the Speed, 1 is the fastest, 9 the slowest. Try it with a medium Setting "4".
                </p>
                <img class="game-img2" src="../../img/udp.jpg" />
            </div>
        </div>
    </body>
</html>

<!-- 685px 910px -->