<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Racing Games bHaptics</title>
        <link rel="stylesheet" href="style.css">
        <script src="./renderer.js"></script>
    </head>
    <body id="body">        
        <div class="drag-window"></div>
        <div class="header">
            <div class="header-title">
            <p class="tit">Racing Games bHaptics</p>
            <p class="ver">Version <span id="appversion"></span></p>
            </div>
            
            <div class="btnFoot outline" id="back">
            <a >Back</a>
            </div>
        </div>
        <div class="main" id="main">
            <img id="game-img" src="../../img/pc2.jpg" />
            <div id="instructions">
                <p>
                    Ingame, go to the options tab, select SYSTEM
                </p>
                <img class="game-img2" src="../../img/pc2option.jpg" />
                <p>
                    Turn UDP FREQUENCY on. <b>Value 5 is recommended.</b>
                </p>
                <p>
                    Select UDP Protocol Version: Project Cars 2
                </p>
                <img class="game-img" src="../../img/pc2udp.jpg" />
            </div>
        </div>
    </body>
</html>

<!-- 685px 910px -->