<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Racing Games bHaptics</title>
        <link rel="stylesheet" href="style.css">
        <script src="./renderer.js"></script>
    </head>
    <body id="body">        
        <div class="drag-window"></div>
        <div class="header">
            <div class="header-title">
            <p class="tit">Racing Games bHaptics</p>
            <p class="ver">Version <span id="appversion"></span></p>
            </div>
            
            <div class="btnFoot outline" id="back">
            <a >Back</a>
            </div>
        </div>
        <div class="main" id="main">
            <img id="game-img" src="../../img/rf2.jpg" />
            <div id="instructions">
                <p>
                    Locate your game root folder manually or using steam
                </p>
                <p>
                    Download this file (rFactor2SharedMemoryMapPlugin64.dll) from <a id="rf2link1"><b>HERE</b></a> or <a id="rf2link2"><b>LOCALLY</b></a> 
                </p>
                <p>
                    Copy the file <b>"rFactor2SharedMemoryMapPlugin64.dll"</b> inside <b>"Bin64\plugins"</b> folder of your Rfactor 2 installation
                </p>
                <img class="game-img" src="../../img/rf2path.png" />
                <p style="color:red">
                    TURN THE PLUGIN ON IN THE GAME SETTINGS
                </p>
                <img class="game-img" src="../../img/rf2settings.jpg" />
            </div>
        </div>
    </body>
</html>

<!-- 685px 910px -->