<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PCars BHapticsPlayer</title>
    <link rel="stylesheet" href="style.css">
    <script src="./renderer.js"></script>
  </head>
  <body id="body">
    <div class="header">
      <p class="tit">Racing Games bHaptics</p>
      <p class="ver">Version <span id="appversion"></span></p>
    </div>

    <div class="main" id="main">

      <div class="games">
        <a class="title">Select a game</a>
        <div class="game-selector" id="gameData">
          <div class="game-label">
            <input id="pc1" type="radio" name="racing-game" value="pc1" />
            <label class="game-cc pc1" for="pc1"></label>
            <p>Project Cars 1</p>
          </div>
          <div class="game-label">
            <input id="pc2" type="radio" name="racing-game" value="pc2" />
            <label class="game-cc pc2"for="pc2"></label>
            <p>Project Cars 2</p>
          </div>
          <div class="game-label">
            <input id="pc3" type="radio" name="racing-game" value="pc3" />
            <label class="game-cc pc3"for="pc3"></label>
            <p>Project Cars 3</p>
          </div>
        </div>
      </div>

      <div class="line">
        <a class="title">BhapticPlayer</a>
        <div class="box">
          <a ><span id="statusHaptic" style="color:#FFBB00;">Not Running !</span></a>
        </div>
      </div>

      <div class="line">
        <a class="title logs">Logs</a>
        <div class="log" id="logData">
          <a><span id="logging"></span></a>
        </div>
      </div>

    </div>

    <div class="btnFoot outline" id="close">
      <a >Close</a>
    </div>
    </div>
  </body>
</html>

<!-- 685px 910px -->
