@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html {
    border: 2px solid white;
}

body {
    margin:0;
    background-color: #484848;
    color: white;
    font-family: 'Montserrat', regular;
    overflow-y: scroll !important;
    overflow-x: hidden;
    margin-top: 145px;
}

.drag-window {
    -webkit-app-region: drag;
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
}

.header {
    background-color: #232323;
    padding-left: 25px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.header-title {
    flex: 8;
}

.tit {
    margin:0;
    padding-top: 14px;
    font-size: 21px;
}

.ver {
    padding-top: 4px;
    margin: 0;
    padding-bottom: 14px;
    font-size: 18px;
}

span {
    font-size: 15px;
}

.main, .txt, .foot {
    margin:25px;
}

.line {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin-bottom: 10px;
}

.box {
    background-color: #2f2f2f;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    max-width: 449px;
    width: 100%;
}

#appversion {
    color: #d8ff29;
}

.title {
    font-size: 20px;
}

.btn {
    background-color: #29A2FF;
    padding-top: 13px;
    padding-right: 178px;
    padding-bottom: 13px;
    padding-left: 177px;
    text-align: center;
}

.log {
    background-color: #2f2f2f;
    padding-top: 13px;
    overflow-y: scroll !important;
    height: 140px;
    width: 448px;
    padding-left: 20px;
}

.blue {
    color:#29A2FF;
    font-size: 20px;
}

p {
    font-size: 20px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup {
    display: none;
}

.footer {
    margin-right: 11px;
}

.outline {
    margin-right: 50px;
    margin-top: 55px;
    background-color: #2b2d33 !important;
    border: white solid 3px;
    cursor: pointer;
}

.btnFoot {
    background-color: #29A2FF;
    padding-top: 13px;
    padding-right: 50px;
    padding-bottom: 13px;
    padding-left: 50px;
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
}

.games-header {
    display: flex;
    flex-direction: row;
}

.games-header a {
    flex: 3;
}

.games .title {
    margin-bottom: 15px;
    display: inline-block;
}
.game-cfg {
    flex: 1;
    background-color: #2b2d33 !important;
    border: white solid 3px;
    padding: 9px 25px;
    margin-bottom: 15px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

.game-selector {    
    background-color: #2f2f2f;
    padding: 0px 10px;
    overflow-y: scroll !important;
    height: 345px;
    width: 737px;
    margin-bottom: 50px;
}

.game-label {
    display: inline-block;
    margin: 0px 3px;
    width: 32%;
    vertical-align: top;
}

.game-label p {
    text-align: center;
    margin: 15px 10px;
}

.game-selector input{
    padding-left: 20px;
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.pc1{background-image:url(../../img/pc1.jpg);}
.pc2{background-image:url(../../img/pc2.jpg);}
.pc3{background-image:url(../../img/pc3.jpg);}
.ac{background-image:url(../../img/ac.jpg);}
.acc{background-image:url(../../img/acc.jpg);}
.am2{background-image:url(../../img/am2.jpg);}
.dr2{background-image:url(../../img/dr2.jpg);}
.rf2{background-image:url(../../img/rf2.jpg);}
.rrr{background-image:url(../../img/rrr.jpg);}

.game-selector input:active +.game-cc{opacity: .9;}
.game-selector input:checked +.game-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.game-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:230px;
    height:110px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.game-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}