@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin:0;
    background-color: #393E50;
    color: white;
    font-family: 'Montserrat', regular;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.header {
    background-color: #2E323E;
    padding-left: 25px;
    -webkit-app-region: drag;
}

.tit {
    margin:0;
    padding-top: 14px;
    font-size: 21px;
}

.ver {
    padding-top: 4px;
    margin: 0;
    padding-bottom: 14px;
    font-size: 18px;
}

span {
    font-size: 15px;
}

.main, .txt, .foot {
    margin:25px;
}

.line {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin-bottom: 10px;
}

.box {
    background-color: #46506D;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    max-width: 449px;
    width: 100%;
}

#appversion {
    color: #29A2FF;
}

.title {
    font-size: 20px;
}

.btn {
    background-color: #29A2FF;
    padding-top: 13px;
    padding-right: 178px;
    padding-bottom: 13px;
    padding-left: 177px;
    text-align: center;
}

.log {
    background-color: #46506D;
    padding-top: 13px;
    overflow-y: scroll !important;
    height: 140px;
    width: 448px;
    padding-left: 20px;
}

.blue {
    color:#29A2FF;
    font-size: 20px;
}

p {
    font-size: 20px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup {
    display: none;
}

.footer {
    margin-right: 11px;
}

.outline {
    margin-right: 50px;
    margin-top: 55px;
    margin-left: 50px;
    background-color: #393E50 !important;
    border: white solid 3px;
}

.btnFoot {
    background-color: #29A2FF;
    padding-top: 13px;
    padding-right: 127px;
    padding-bottom: 13px;
    padding-left: 124px;
    text-align: center;
    margin-bottom: 20px;
}

.games .title {
    margin-bottom: 15px;
    display: block;
}

.game-selector {    
    background-color: #46506D;
    padding-top: 13px;
    overflow-y: scroll !important;
    height: 260px;
    width: 737px;
    margin-bottom: 50px;
}

.game-selector input{
    padding-left: 20px;
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.pc1{background-image:url(../../img/pc1.jpg);}
.pc2{background-image:url(../../img/pc2.jpg);}
.pc3{background-image:url(../../img/pc3.jpg);}

.game-selector input:active +.game-cc{opacity: .9;}
.game-selector input:checked +.game-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.game-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:230px;
    height:115px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.game-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}